.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

*.iml
.idea/
.vscode/

android/local.properties
android/**/gradle-wrapper.jar
android/.gradle/
android/app/google-services.json
android/key.properties
android/keystore/
*.jks
*.keystore

ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/xcshareddata/
ios/Runner/GoogleService-Info.plist

*.log
